src/main/resources/schema/infinispan-cachestore-cloud-config-6.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:store:cloud:6.0"
           xmlns:tns="urn:infinispan:config:store:cloud:6.0"
           xmlns:config="urn:infinispan:config:6.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:6.0"
             schemaLocation="http://www.infinispan.org/schemas/infinispan-config-6.0.xsd" />

  <xs:element name="cloudStore">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="config:store">
          <xs:attribute name="provider" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                The name of JCloud BlobStore provider.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="location" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                BlobStore location ID provided by provider.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="identity" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Login for current JClouds BlobStore.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="credential" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Credentials for current login and JClouds BlobStore.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="container" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                BlobStore container name. Actual container name will be construct $conatinerName_$cacheName.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="key2StringMapper" type="xs:string" default="org.infinispan.persistence.keymappers.MarshalledValueOrPrimitiveMapper">
            <xs:annotation>
              <xs:documentation>
                 The name of a class to use for converting keys to strings. Defaults to
                 org.infinispan.persistence.keymappers.MarshalledValueOrPrimitiveMapper
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>

